<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Problem</title>
    <style>
        body {
            margin-top: 20px;
        }

        h1 {
            margin: 100px;
            color: aqua;
        }
    </style>
</head>

<body style="color:red; margin:100px;text-align:center">
    <%- include('partials/header') %>

        <h1 style="color:red; margin:100px;text-align:center">This is home</h1>
        <div>
            <a href="/home">
                <img style="width:600px;height:400px;" src="https://i.ytimg.com/vi/eCcY_SDEId8/maxresdefault.jpg"
                    alt="">
            </a>
        </div>
</body>

</html>
<html>

</html>